body{
    background:linear-gradient(45deg, black, transparent);;
    width:100%;
    height:100%;
    overflow:hidden;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%
}
#collosionCanvas{
    opacity: 0;
}
